<div id="right-body">
  <!-- In a view with a dropdown -->
  <ul class="dropdown-menu">
    <% Refinery::I18n.frontend_locales.each do |frontend_locale| %>
      <li>
        <%= link_to Refinery::I18n.locales[frontend_locale], {:locale => frontend_locale} %>
      </li>
    <% end %>
  </ul>
  <ul id='join'>
    <li><a id="facebook_icon" href="#"></a></li>
    <li><a id="twitter_icon" href="#"></a></li>
    <li><a href='#'>Impress<br/>版权页</a></li>
  </ul>
</div>
