<footer>
  <p>Shanghai - CHOIR | Fuzhou Road 19 | Shanghai 200002 | China | info@galerie-eigenheim-sh.com | Phone: +49.30.280 6605 | Fax: +49.30.280 6616 | Tuesday - Saturday 11am-6pm</p>
  <p>Weimar - Galerie Eigenheim | Karl-Liebknecht-Str.10 | 99423 Weimar | Germany | www.galerie-eigenheim.de | info@galerie-eigenheim.de | Phone:+49.30.280 6605 | Tuesday - Saturday 11am-6pm</p>
  <p>
    <%= t('.copyright', :year => Time.now.year,
                        :site_name => Refinery::Core.site_name) %>
  </p>
</footer>