/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  font-family: Verdana, Arial, sans-serif;;
  font-size: 13px;
  line-height: 18px;
}
a:link, a:visited{
  color: #000;
  text-decoration: none;
}
a:hover, a:active{
  color: #000;
  text-decoration: underline;
}
ul{
  list-style: none;
}
#page_container{
  width: 1080px;
  margin: 0 auto;
  /*background: #eee;*/
}
#body_content {
  float: left;
  width: 100%;
  background: white;
  color: #333;
  padding: 20px;
  /*text-align: center;*/
}
#menu ul {
  padding: 0px;
  display: inline-block;
  margin-left: 200px;
  li {
    float: left;
    margin-right: 10px;
    a {
      display: block;
      padding: 5px 10px;
      text-decoration: none;
      font-size: 16px;
    }
    &.selected a, a:hover {
      background: #CCC;
    }
  }
}
footer {
  margin-top: 50px;
  text-align: center;
  font-size: 11px;
  p {
    margin: 0;
  }
}
#page{
  display: inline-block;
}
#left-body{
  float: left;
  width: 180px;
  dl {
    text-align: right;
    dt{
      font-weight: bold;
      margin-top: 20px;
    }
  }
}
#mid-body {
  width: 650px;
  margin-left: 40px;
  float: left;
  line-height: 22px;
  display: inline-block;
}
#right-body {
  float: right;
  width: 200px;
  position: relative;
  #small-logo{
    position: absolute;
    top: -80px;
  }
}
ul#join{
  /*text-align: right;*/
  li{
    margin-bottom: 5px;
  }
}
#facebook_icon, #twitter_icon{
  width: 48px;
  height: 48px;
  display: inline-block;
}
#facebook_icon{
  background: url(/assets/facebook-48.png);
}
#twitter_icon{
  background: url(/assets/twitter-48.png);
}
/********************* home *********************/
#home {
  text-align: center;
  #logo {
    margin: 200px 0 50px;
    line-height: 96px;
    font-size: 96px;
    img {
      width: 500px;
      height: 300px;
    }
  }
  #web_link {
    font-size: 15px;
    margin-bottom: 50px;
    width: 450px;
    display: inline-block;
    a:last-child{
      float: right;
    }
     a:first-child {
      float: left
    }

  }
}
/********************* catalogues *********************/
#catalogues_index{
  display: inline-block;
  #catalogue_year{
    float: left;
    width: 150px;
    li{
      font-size: 16px;
      margin-left: 20px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  #catalogues{
    float: left;
    display: inline-block;
    li{
      float: left;
      margin: 0 30px 0;
      p{
        margin: 2px 0 2px;
      }
    }
  }
}

/********************* current-shows & past-shows *********************/
.shows{
  .show-content{
    display: inline-block;
    img{
      float: left;
      margin-right: 20px;
    }
  }
}

#past-shows{
  #left-body{
    dt{
      text-align: left;
      margin-left: 20px;
      font-size: 16px;
    }
  }
}

#artists-nav{
  padding-left: 20px;
  line-height: 20px;
  li{
    font-size: 14px;
    margin: 15px 0;
    a{
      /*color: #eee;*/
    }
  }
}
/************************************************************/
/* scrolling */
/*
root element for the scrollable.  when scrolling occurs this
element stays still.
*/
.scrollable {
  /* required settings */
  position:relative;
  overflow:hidden;
  width: 660px;
  height:500px;
}

/*
root element for scrollable items. Must be absolutely positioned
and it should have a extremely large width to accommodate scrollable
items.  it's enough that you set width and height for the root element
and not for this element.
*/
.scrollable .items {
  /* this cannot be too large */
  width:20000em;
  position:absolute;
}

/*
a single item. must be floated in horizontal scrolling.  typically,
this element is the one that *you* will style the most.
*/
.items div {
  float:left;
  width: 660px;
  text-align: center;
}
